doctype html

div(name="test")
    h1 Hello World
    p This is a simple example of a Pug template.
    script.
        console.log('Hello World');
    style.
        body {
            background-color: #f0f0f0;
        }
